---
import Layout from "@layouts/Layout.astro";
import links from "@data/links";
---

<Layout title="Page not found - 404">
  <header>
    <h1>Oops.</h1>
    <p>
      You look lost. Let me take you <a href={links.home}>home</a>.
    </p>
  </header>
</Layout>

<style>
  header {
    margin: 0 auto;
    max-width: 666px;
  }
</style>
